@import "mixins.scss";
.header {
  position: relative;
  height: 100vh;
  width: 100%;
  &-block {
    position: absolute;
    &--white {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100vw;
      background-color: var(--color-grey);
      transform: skew(15deg) translateX(-65%);
      height: 100vh;
      z-index: 2;
    }
  }
  & .slider {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
  }
}

.accent {
  color: var(--color-pink);
}

.header {
  position: relative;
  height: 100vh;
  width: 100%;
  &-content {
    position: relative;
    height: 100%;
    z-index: 3;
  }
  .container {
    @include flex(column, stretch, center);
    height: 100%;
  }
  &-block {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: var(--color-grey);
    transform: skew(20deg) translateX(-55%);
    height: 100vh;
    z-index: 2;
  }
}

.hero {
  margin: auto 0;
  &__title {
    font-size: 96px;
    font-weight: bold;
    span {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        bottom: -10px;
        left: 0;
        right: 0;
        height: 10px;
        width: 100%;
        background-color: var(--color-pink);
        border-radius: 10px;
      }
    }
  }
  &__text {
    margin-top: 40px;
    font-size: 28px;
    font-weight: 500;
    color: var(--color-black);
  }
  &-buttons {
    @include flex;
    margin-top: 80px;
    a:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__link {
    font-size: 24px;
    font-weight: 500;
    @include flex;
    span {
      margin-right: 12px;
      position: relative;
      img {
        position: absolute;
        left: 28px;
      }
    }
  }
}

.request {
  &-content {
    padding: 100px 0;
    background-color: #000;
  }
  &-form {
    margin: 0 auto;
    max-width: 750px;
    .form-input__label {
      color: #fff;
      text-transform: uppercase;
      font-size: 24px;
      margin-bottom: 5px;
    }
    .form-input__input {
      padding: 15px 24px;
    }
    .form-input:not(:last-child) {
      margin-right: 30px;
    }
    .row:not(:last-child) {
      margin-bottom: 25px;
    }
    .row:nth-child(3) {
      margin-bottom: 40px;
    }
    .button {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    &-block {
      display: none;
    }
  }
  .hero {
    color: #fff;
    &__title {
      font-size: 64px;
    }
    &__text {
      color: #fff;
      font-size: 24px;
    }
    &__link {
      color: #fff;
      margin-bottom: 20px;
    }
    &-buttons {
      align-items: flex-start;
      flex-direction: column-reverse;
      margin-top: 40px;
      a:not(:last-child) {
        margin: 0;
      }
    }
  }
}

// Mobile
@media screen and (max-width: 576px) {
  :root {
    --section-padding: calc(90px / 2);
  }
  .header {
    .nav {
      justify-content: flex-start;
    }
    .slider-scrollbar {
      bottom: 30px;
      right: 0;
      left: var(--container-offset);
      // transform: translateX(50%);
    }
  }

  .hero {
    &__text {
      font-size: 18px;
      margin-top: 30px;
    }
  }
  .request {
    &-form {
      .form-input__label {
        font-size: 18px;
      }
      .row {
        flex-direction: column;
      }
      .form-input:not(:last-child) {
        margin: 0;
        margin-bottom: 25px;
      }
      .button {
        padding: 20px 0px;
      }
    }
  }
  .section {
    &-header {
      &__title {
        font-size: 32px;
      }
    }
  }
  .footer {
    .nav-logo {
      margin-bottom: 30px;
    }
    &-nav {
      flex-direction: column;
    }
  }
}
