@mixin flex($flexDirection: row, $alignItems: center, $justifyContent: flex-start) {
  display: flex;
  flex-direction: $flexDirection;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

@mixin mt($margin: 0) {
  margin-top: #{$margin}px;
}

@mixin mb($margin: 0) {
  margin-bottom: #{$margin}px;
}

@mixin margin($top: 0, $right: 0, $bottom: 0, $left: 0) {
  margin-top: #{$top}px;
  margin-bottom: #{$bottom}px;
  margin-left: #{$left}px;
  margin-right: #{$right}px;
}
