:root {
  --font: "Montserrat";
  --section-padding: 90px;
  --container-width: 1530px;
  --container-offset: 15px;
  --color-pink: #ffa6cc;
  --color-grey: #fbfbfb;
  --color-black: #252525;
  --animation-duration: 0.3s;
}

$color-pink: #ffa6cc;

@import "mixins.scss";

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: var(--color-grey);

  &-thumb {
    background-color: var(--color-pink);
  }
}

body {
  font-size: 16px;
  font-family: var(--font), sans-serif;
  background-color: var(--color-grey);
}

a {
  color: var(--color-black);
  text-decoration: none;
  transition: background-color var(--animation-duration) ease-in,
    color var(--animation-duration) ease-in,
    transform var(--animation-duration) ease-in;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0px var(--container-offset);
  position: relative;
}

.section {
  &-header {
    @include flex;
    margin: var(--section-padding) 0;
    &__title {
      font-family: var(--font);
      font-size: 64px;
      font-weight: bold;
      font-style: normal;
      color: rgba(37, 37, 37, 0.4);
      text-transform: uppercase;
      &:after {
        content: "";
        display: block;
        width: 100%;
        border-radius: 6px;
        height: 10px;
        background-color: var(--color-pink);
      }
    }
  }
}

ul,
ol {
  list-style: none;
  @include flex;
}

.gallery {
  &-slider {
    @include flex;
  }
  &-slide {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }
  &-image-overlay {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.row {
  @include flex;
}

.col {
  @include flex(column);
  // @include margin(10, 10, 10, 10);
  @for $index from 1 to 13 {
    &-#{$index} {
      flex: $index;
    }
  }
}

.button {
  @include flex(row, center, center);
  text-align: center;
  padding: 20px 48px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  transition: background-color var(--animation-duration) ease-in-out;
  &--primary {
    background-color: var(--color-pink);
    &:hover {
      background-color: darken($color-pink, 4);
    }
  }
  &--border {
    border-radius: 8px;
  }
  &--play {
    border-radius: 100%;
    height: 69px;
    width: 69px;
    padding: 0;
    background-color: var(--color-pink);
    &:hover {
      background-color: darken($color-pink, 4);
    }
  }
}

.slider {
  &-slide {
    position: relative;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.2);
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-scrollbar {
    position: absolute;
    bottom: 60px;
    right: var(--container-offset);
    z-index: 4;
    color: #fff;
    @include flex;
    span {
      font-size: 24px;
      font-weight: bold;
      color: #fff;
    }
  }
  &-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &-container {
    height: 100%;
    z-index: auto;
  }
}

.swiper-pagination {
  width: 240px;
  height: 6px;
  position: relative;
  margin: 0 12px;
  border-radius: 20px;
  &-progressbar {
    position: relative;
    background-color: #fff;
    & .swiper-pagination-progressbar-fill {
      background-color: var(--color-pink);
      border-radius: 20px;
    }
  }
}

.form {
  &-input {
    @include flex(column, flex-start, flex-start);
    width: 100%;
    &__label {
      font-weight: bold;
    }
    &__input {
      border-radius: 8px;
      color: var(--color-black);
      font-size: 18px;
      font-weight: 500;
      width: 100%;
    }
  }
}

.grid {
  display: grid;
}

.table {
  width: 100%;
  border-collapse: collapse;
  &-header {
    background-color: #ff60a4;
    &__title {
      font-size: 24px;
      font-weight: bold;
      color: var(--color-black);
    }
  }
  &-row {
    padding: 15px 20px;
    @include flex(row, center, flex-start);
  }
  &-data {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    flex: 1;
  }
  &-content {
    .table-row:nth-child(odd) {
      background-color: #ffa6cc;
    }
    .table-row:nth-child(even) {
      background-color: rgba(255, 166, 204, 0.5);
    }
  }
}

.nav {
  padding-top: 13px;
  @include flex(row, center, flex-end);
  &-logo {
    &__link {
      @include flex;
    }
    &__title {
      margin-right: 12px;
      font-size: 24px;
      font-weight: bold;
      color: #fff;
    }
  }
  &-list {
    a {
      position: relative;
      overflow: hidden;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      &::before {
        content: "";
        height: 4px;
        width: 50%;
        bottom: -6px;
        right: 0;
        background-color: var(--color-pink);
        position: absolute;
        border-radius: 8px;
        transition: width var(--animation-duration) ease-in-out;
      }
      &:hover {
        &::before {
          width: 100%;
        }
      }
    }
  }
}

.footer {
  margin-top: 20px;
  background-color: var(--color-black);
  &-nav {
    height: auto;
    padding: 45px 0px;
    justify-content: space-between;
  }
}

.socials {
  &-item {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
  &__link {
    color: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--color-pink);
    height: 48px;
    width: 48px;
    font-size: 24px;
  }
}

@media screen and (max-width: 576px) {
  .footer {
    .nav-logo {
      margin-bottom: 30px;
    }
    &-nav {
      flex-direction: column;
    }
  }
}
